<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 i18n class="h4 text-gray-900 mb-2">Confirm your Registration!</h1>
                                    <p>
                                        <ngb-alert *ngIf="!!alert" [type]="'danger'" (close)="alert=undefined;" [dismissible]="true">
                                            <strong i18n>Error!</strong> {{alert}}. </ngb-alert>
                                        <ngb-alert *ngIf="!!success" [type]="'success'" (close)="success=undefined;" [dismissible]="true">
                                            <strong i18n>Succes!</strong> {{success}}. </ngb-alert>
                                    </p>
                                    <p i18n class="mb-4">Please confirm the button below to finish your registration!</p>
                                </div>
                                <form class="user" id="confirmRegisterForm" [formGroup]="confirmRegisterForm" (ngSubmit)="onSubmit()" (keydown)="alert=undefined;">
                                    <button i18n type="submit" class="btn btn-primary btn-user btn-block" [disabled]="!confirmRegisterForm.valid">Confirm Register</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a i18n class="small" href="/#/register">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a i18n class="small" href="/#/login">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>