<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 i18n class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p>
                                        <ngb-alert *ngIf="!!alert" [type]="'danger'" (close)="alert=undefined;" [dismissible]="true">
                                            <strong i18n>Error!</strong> {{alert}}. </ngb-alert>
                                        <ngb-alert *ngIf="!!success" [type]="'success'" (close)="success=undefined;" [dismissible]="true">
                                            <strong i18n>Succes!</strong> {{success}}. </ngb-alert>
                                    </p>
                                    <p i18n class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                                </div>
                                <form class="user" id="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" (keydown)="alert=undefined;">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="inputEmail" placeholder="Enter Email Address..." [formControl]="forgotPasswordForm.controls.username">
                                        <div *ngIf="forgotPasswordForm.controls.username.invalid && (forgotPasswordForm.controls.username.dirty || forgotPasswordForm.controls.username.touched)" class="invalid-feedback">
                                            <div i18n *ngIf="forgotPasswordForm.controls.username.errors.email"> Email Address is invalide. </div>
                                            <div i18n *ngIf="forgotPasswordForm.controls.username.errors.required"> Email Addres is required. </div>
                                            <div i18n *ngIf="forgotPasswordForm.controls.username.errors.maxlength"> Email Addres is to long (maximum is {{forgotPasswordForm.controls.username.errors.maxlength.requiredLength}} characters)! </div>
                                        </div>
                                    </div>
                                    <button i18n type="submit" class="btn btn-primary btn-user btn-block" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a i18n class="small" href="/#/register">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a i18n class="small" href="/#/login">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>