<p>
    <ngb-alert *ngIf="!!alert" [type]="'danger'" (close)="alert=undefined;" [dismissible]="true">
        <strong i18n>Error!</strong> {{alert}}. </ngb-alert>
</p>
<form *ngIf="!!type && ready" class="user" id="typeForm" [formGroup]="typeForm" (ngSubmit)="onSubmit()" (keydown)="alert=undefined;">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container *ngFor="let nav of navs">
            <li ngbNavItem>
                <a ngbNavLink>{{nav.title}}</a>
                <ng-template ngbNavContent>
                    <div class="form-group row" style="padding-top: 20px;">
                        <ng-container *ngFor="let question of nav.questions; trackBy:trackByFn">
                            <app-question [question]="question" [typeForm]="typeForm" class="col-sm-{{question.size}} mb-3 mb-sm-0">
                            </app-question>
                        </ng-container>
                    </div>
                </ng-template>
            </li>
        </ng-container>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</form>