<h1 *ngIf="showTitle" class="h3 mb-4 text-gray-800">{{title}}</h1>
<p>
    <ngb-alert *ngIf="!!alert" [type]="'danger'" (close)="alert=undefined;" [dismissible]="true">
        <strong i18n>Error!</strong> {{alert}}. </ngb-alert>
    <ngb-alert *ngIf="!!success" [type]="'success'" (close)="success=undefined;" [dismissible]="true">
        <strong i18n>Succes!</strong> {{success}}. </ngb-alert>
    <ngb-alert *ngIf="!!warning" [type]="'warning'" (close)="warning=undefined;" [dismissible]="true">
        <strong i18n>Warning!</strong> {{warning}}. </ngb-alert>
</p>
<form class="user" id=" typeForm" [formGroup]="typeForm" (keydown)="alert=undefined;">
    <div class="input-group form-group form-inline">
        <input *ngIf="searchButton" type="text" class="form-control bg-light small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" [formControl]="typeForm.controls.searchTerm" (keyup)="onSearchTermChange()">
        <div *ngIf="searchButton" class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="onSearchTermChange(); alert=undefined;">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
        <button i18n *ngIf="deleteButton" class="btn btn-danger" style="margin-left: 10px;" type="button" [disabled]="checked()" (click)="confirmDeleteAll(); alert=undefined;">
            <i class="fas fa-minus-circle fa-sm"></i>&nbsp;Delete </button>
        <button i18n *ngIf="addButton" class="btn btn-success" style="margin-left: 10px;" type="button" (click)="showDetails(); alert=undefined;">
            <i class="fas fa-plus-circle fa-sm"></i>&nbsp;Add new {{title}}
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th *ngFor="let column of columns | async" scope="col" sortable="{{column.key}}" (sort)="onSort($event)" sortable>
                        {{column.title}}
                    </th>
                    <th scope="col" colspan="3">
                        <div class="text-right">
                            <a *ngIf="refreshButton" class="nav-link" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;" placement="left" ngbPopover="Total new updates {{updates}}" triggers="mouseenter:mouseleave" popoverTitle="Refresh" (click)="refreshAll(); alert=undefined;">
                                <i class="fas fa-sync-alt text-gray-500"></i>
                                <sup><span class="badge badge-danger badge-counter">{{updates}}</span></sup>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let type of types | async">
                    <th scope="row">
                        <div class="custom-control custom-checkbox small">
                            <input *ngIf="deleteButton" type="checkbox" class="custom-control-input" id="{{type.id}}" [checked]="type.checked" (change)="type.checked = !type.checked; alert=undefined;">
                            <label class="custom-control-label" for="{{type.id}}">ID: {{type.id}}</label>
                        </div>
                    </th>
                    <td *ngFor="let column of columns | async">
                        <ngb-highlight [result]="key(type, column.key)" [term]="state.searchTerm"></ngb-highlight>
                    </td>
                    <td style="width: 1%;">
                        <div class="text-right">
                            <a *ngIf="statusButton" class="btn btn-secondary btn-sm" style="cursor: pointer; color: white;" placement="left" ngbPopover="{{type.name}} is {{type.active ? 'Active' : 'Inactive'}}" triggers="mouseenter:mouseleave" popoverTitle="Status {{title}}" (click)="updateStatus(type); alert=undefined;">
                                <i class="fas" [ngClass]="{'fa-toggle-on': type.active === true, 'fa-toggle-off': type.active === false}"></i>
                            </a>
                        </div>
                    </td>
                    <td style="width: 1%;">
                        <div class="text-right">
                            <a *ngIf="editButton" class="btn btn-warning btn-sm" style="cursor: pointer; color: white;" placement="left" ngbPopover="Edit {{type.name}}" triggers="mouseenter:mouseleave" popoverTitle="Show {{title}}" (click)="showDetails(type); alert=undefined;">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                    </td>
                    <td style="width: 1%;">
                        <div class="text-right">
                            <a *ngIf="deleteButton" class="btn btn-danger btn-sm" style="cursor: pointer; color: white;" placement="left" ngbPopover="Delete {{type.name}}" triggers="mouseenter:mouseleave" popoverTitle="Remove {{title}}" (click)="confirmDelete(type); alert=undefined;">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div i18n class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="(total | async)!" [(page)]="state.page" [pageSize]="state.pageSize" (pageChange)="onPageChange($event); alert=undefined;">
        </ngb-pagination> Showing {{totalTypes | async}} out of {{total | async}} entries <select class="custom-select" style="width: auto" name="pageSize" [formControl]="typeForm.controls.pageSize" (change)="onPageSizeChange(); alert=undefined;">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
            <option [ngValue]="12">12 items per page</option>
            <option [ngValue]="24">24 items per page</option>
        </select>
    </div>
</form>