<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 i18n class="h4 text-gray-900 mb-4">Reset Password!</h1>
                            <p>
                                <ngb-alert *ngIf="!!alert" [type]="'danger'" (close)="alert=undefined;" [dismissible]="true">
                                    <strong i18n>Error!</strong> {{alert}}. </ngb-alert>
                                <ngb-alert *ngIf="!!success" [type]="'success'" (close)="success=undefined;" [dismissible]="true">
                                    <strong i18n>Succes!</strong> {{success}}. </ngb-alert>
                            </p>
                        </div>
                        <form class="user" id="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" (keydown)="alert=undefined;">
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="inputPassword" placeholder="Password" [formControl]="resetPasswordForm.controls.password">
                                    <div *ngIf="resetPasswordForm.controls.password.invalid && (resetPasswordForm.controls.password.dirty || resetPasswordForm.controls.password.touched)" class="invalid-feedback">
                                        <div i18n *ngIf="resetPasswordForm.controls.password.errors.required"> Password is required. </div>
                                        <div i18n *ngIf="resetPasswordForm.controls.password.errors.pattern"> Password must be between 4 and 8 digits long and include at least one numeric digit. </div>
                                        <div i18n *ngIf="resetPasswordForm.controls.password.errors.maxlength"> Password is to long (maximum is {{resetPasswordForm.controls.password.errors.maxlength.requiredLength}} characters)! </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="repeatPassword" placeholder="Repeat Password" [formControl]="resetPasswordForm.controls.repeatPassword">
                                    <div *ngIf="resetPasswordForm.controls.repeatPassword.dirty || resetPasswordForm.controls.repeatPassword.touched" class="invalid-feedback">
                                        <div i18n *ngIf="resetPasswordForm.errors?.passwordMismatch"> Password mismatch. </div>
                                        <div i18n *ngIf="resetPasswordForm.controls.repeatPassword.errors.maxlength"> Password is to long (maximum is {{resetPasswordForm.controls.repeatPassword.errors.maxlength.requiredLength}} characters)! </div>
                                    </div>
                                </div>
                            </div>
                            <button i18n type="submit" class="btn btn-primary btn-user btn-block" [disabled]="!resetPasswordForm.valid">Reset Password</button>
                            <hr>
                        </form>
                        <div class="text-center">
                            <a i18n class="small" href="/#/forgot-password">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a i18n class="small" href="/#/login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>