<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 i18n class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            <p>
                                <ngb-alert *ngIf="!!alert" [type]="'danger'" (close)="alert=undefined;" [dismissible]="true">
                                    <strong i18n>Error!</strong> {{alert}}. </ngb-alert>
                                <ngb-alert *ngIf="!!success" [type]="'success'" (close)="success=undefined;" [dismissible]="true">
                                    <strong i18n>Succes!</strong> {{success}}. </ngb-alert>
                            </p>
                        </div>
                        <form class="user" id="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" (keydown)="alert=undefined;">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="firstName" placeholder="First Name" [formControl]="registerForm.controls.firstName">
                                    <div *ngIf="registerForm.controls.firstName.invalid && (registerForm.controls.firstName.dirty || registerForm.controls.firstName.touched)" class="invalid-feedback">
                                        <div i18n *ngIf="registerForm.controls.firstName.errors.required"> First Name is required. </div>
                                        <div i18n *ngIf="registerForm.controls.firstName.errors.maxlength"> First Name is to long (maximum is {{registerForm.controls.firstName.errors.maxlength.requiredLength}} characters)! </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="lastName" placeholder="Last Name" [formControl]="registerForm.controls.lastName">
                                    <div *ngIf="registerForm.controls.lastName.invalid && (registerForm.controls.lastName.dirty || registerForm.controls.lastName.touched)" class="invalid-feedback">
                                        <div i18n *ngIf="registerForm.controls.lastName.errors.required"> Last Name is required. </div>
                                        <div i18n *ngIf="registerForm.controls.lastName.errors.maxlength"> Last Name is to long (maximum is {{registerForm.controls.lastName.errors.maxlength.requiredLength}} characters)! </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="inputEmail" placeholder="Email Address" [formControl]="registerForm.controls.username">
                                <div *ngIf="registerForm.controls.username.invalid && (registerForm.controls.username.dirty || registerForm.controls.username.touched)" class="invalid-feedback">
                                    <div i18n *ngIf="registerForm.controls.username.errors.email"> Email Address is invalide. </div>
                                    <div i18n *ngIf="registerForm.controls.username.errors.required"> Email Addres is required. </div>
                                    <div i18n *ngIf="registerForm.controls.username.errors.maxlength"> Email Addres is to long (maximum is {{registerForm.controls.username.errors.maxlength.requiredLength}} characters)! </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="inputPassword" placeholder="Password" [formControl]="registerForm.controls.password">
                                    <div *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)" class="invalid-feedback">
                                        <div i18n *ngIf="registerForm.controls.password.errors.required"> Password is required. </div>
                                        <div i18n *ngIf="registerForm.controls.password.errors.pattern"> Password must be between 4 and 8 digits long and include at least one numeric digit. </div>
                                        <div i18n *ngIf="registerForm.controls.password.errors.maxlength"> Password is to long (maximum is {{registerForm.controls.password.errors.maxlength.requiredLength}} characters)! </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="repeatPassword" placeholder="Repeat Password" [formControl]="registerForm.controls.repeatPassword">
                                    <div *ngIf="registerForm.controls.repeatPassword.dirty || registerForm.controls.repeatPassword.touched" class="invalid-feedback">
                                        <div i18n *ngIf="registerForm.errors?.passwordMismatch"> Password mismatch. </div>
                                        <div i18n *ngIf="registerForm.controls.repeatPassword.errors.maxlength"> Password is to long (maximum is {{registerForm.controls.repeatPassword.errors.maxlength.requiredLength}} characters)! </div>
                                    </div>
                                </div>
                            </div>
                            <button i18n type="submit" class="btn btn-primary btn-user btn-block" [disabled]="!registerForm.valid">Register Account</button>
                            <hr>
                            <a i18n href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google </a>
                            <a i18n href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a i18n class="small" href="/#/forgot-password">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a i18n class="small" href="/#/login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>