<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 i18n class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    <p>
                                        <ngb-alert *ngIf="!!alert" [type]="'danger'" (close)="alert=undefined;" [dismissible]="true">
                                            <strong i18n>Error!</strong> {{alert}}. </ngb-alert>
                                        <ngb-alert *ngIf="!!success" [type]="'success'" (close)="success=undefined;" [dismissible]="true">
                                            <strong i18n>Succes!</strong> {{success}}. </ngb-alert>
                                    </p>
                                </div>
                                <form class="user" [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keydown)="alert=undefined;">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." [formControl]="loginForm.controls.username">
                                        <div *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)" class="invalid-feedback">
                                            <div i18n *ngIf="loginForm.controls.username.errors.email"> Email Addres is invalid. </div>
                                            <div i18n *ngIf="loginForm.controls.username.errors.required"> Email Addres is required. </div>
                                            <div i18n *ngIf="loginForm.controls.username.errors.maxlength"> Email Addres is to long (maximum is {{loginForm.controls.username.errors.maxlength.requiredLength}} characters)! </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="inputPassword" placeholder="Password" [formControl]="loginForm.controls.password">
                                        <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)" class="invalid-feedback">
                                            <div i18n *ngIf="loginForm.controls.password.errors.required"> Password is required. </div>
                                            <div i18n *ngIf="loginForm.controls.password.errors.maxlength"> Password is to long (maximum is {{loginForm.controls.password.errors.maxlength.requiredLength}} characters)! </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label i18n class="custom-control-label" for="customCheck">Remember Me</label>
                                        </div>
                                    </div>
                                    <button i18n type="submit" class="btn btn-primary btn-user btn-block" [disabled]="!loginForm.valid">Login</button>
                                    <hr>
                                    <a i18n href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google </a>
                                    <a i18n href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a i18n class="small" href="/#/forgot-password">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a i18n class="small" href="/#/register">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>