<div class="user" id="typeForm" [formGroup]="typeForm">
    <ng-container [ngSwitch]="question.controlType">
        <ng-container *ngSwitchCase="'textbox'">
            <label><small class="form-text text-muted">{{question.label}}:<sup *ngIf="question.required" style="color: red;">*</sup></small></label>
            <input class="form-control form-control-user" [formControlName]="question.key" [id]="question.key" [placeholder]="question.placeholder" [type]="question.type" [mask]="question.mask" (keyup)="onCheckIfEmpty()">
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
            <label><small class="form-text text-muted">{{question.label}}:<sup *ngIf="question.required" style="color: red;">*</sup></small></label>
            <ng-select [formControlName]="question.key" [id]="question.key" [items]="question.options" [searchable]="false" appearance="outline" placeholder="Choose...">
            </ng-select>
        </ng-container>
        <ng-container *ngSwitchCase="'duallist'">
            <label class="col-sm-6 pl-0"><small class="form-text text-muted" i18n>Available {{question.label}}:</small></label>
            <label class="col-sm-6 pl-1"><small class="form-text text-muted" i18n>Selected {{question.label}}:</small></label>
            <dual-list [id]="question.key" [source]="question.source" [(destination)]="question.destination" [key]="'id'" [display]="'name'" [filter]="question.filter">
            </dual-list>
        </ng-container>
        <ng-container *ngSwitchCase="'checkbox'">
            <div class="custom-control custom-checkbox small">
                <input class="custom-control-input" [formControlName]="question.key" [id]="question.key" type="checkbox" [checked]="question.value">
                <label for="{{question.key}}" class="custom-control-label form-text text-muted"><small>{{question.label}}:<sup *ngIf="question.required" style="color: red;">*</sup></small></label>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'wysiwyg'">
            <label><small class="form-text text-muted">{{question.label}}:<sup *ngIf="question.required" style="color: red;">*</sup></small></label>
            <editor class="form-user" [formControlName]="question.key" [id]="question.key" apiKey="y293tfdci846glrv56motaetvbkkk8f9ekhaz8ug91egv1jo" [init]="question.options"></editor>
        </ng-container>
        <ng-container *ngSwitchCase="'treeview'">
            <label><small class="form-text text-muted">{{question.label}}:<sup *ngIf="question.required" style="color: red;">*</sup></small></label>
            <ngx-dropdown-treeview [buttonClass]="'btn dropdown-toggle btn-sm form-control select-form-control-user'" [config]="question.options" [items]="question.source" (selectedChange)="onSelectedChange($event)" (filterChange)="onFilterChange($event)">
            </ngx-dropdown-treeview>
        </ng-container>
        <ng-container *ngSwitchCase="'rating'">
            <label><small class="form-text text-muted">{{question.label}}:<sup *ngIf="question.required" style="color: red;">*</sup></small></label>
            <ngb-rating [formControlName]="question.key" [id]="question.key" [(rate)]="question.value" max=10></ngb-rating>
        </ng-container>
        <ng-template appTypeComponent></ng-template>
        <ng-container *ngSwitchDefault>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="question.controlType !== 'duallist'">
        <div *ngIf="typeForm.controls[question.key].invalid && (typeForm.controls[question.key].dirty || typeForm.controls[question.key].touched)" class="invalid-feedback">
            <div i18n *ngIf="typeForm.controls[question.key].errors.email">
                {{question.label}} is invalid! </div>
            <div i18n *ngIf="typeForm.controls[question.key].errors.required">
                {{question.label}} is required! </div>
            <div i18n *ngIf="typeForm.controls[question.key].errors.pattern">
                {{question.label}} is invalid! </div>
            <div i18n *ngIf="typeForm.controls[question.key].errors.maxlength">
                {{question.label}} is to long (maximum is {{typeForm.controls[question.key].errors.maxlength.requiredLength}} characters)! </div>
        </div>
    </ng-container>
</div>