/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap-grid'
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2'
@import "~@ng-select/ng-select/themes/default.theme.css"

.invalid-feedback
    display: block

.tox-tinymce
    border-radius: 1.5rem !important

.tox-statusbar
    z-index: -1 !important

.select-form-control-user
    font-size: 0.8rem !important
    border-radius: 10rem !important
    padding: 0rem 1rem !important
    height: calc(2.9em + .75rem + 2px) !important
    border-color: #ced4da !important

.ng-select-container
    font-size: 0.8rem !important
    border-radius: 10rem !important
    padding: 1.5rem 1rem 1.5rem 0.5rem !important
    height: calc(2.9em + .1rem + 2px) !important

.ng-dropdown-panel
    font-size: 0.8rem !important

.dropdown-container
    font-size: 0.8rem !important
